<%= content_tag :fieldset, {
  class: 'fields condition', 'data-object-name' => f.object_name
  } do %>

  

  <%= f.attribute_fields do |a| %>
    <%= render 'attribute_fields', f: a %>
  <% end %>

  <%= f.predicate_select %>

  <%= f.value_fields do |v| %>
    <%= render 'value_fields', f: v %>
  <% end %>
  <%= content_tag(:span, button_to_remove_fields('-', f),
    nil, false) %>
  <%#= button_to_add_fields 'Add Value', f, :value %>

<% end %>