<%= content_tag :p, { class: 'fields',
  'data-object-name' => f.object_name } do %>

  <%= content_tag(:span, "Match #{f.combinator_select} conditions #{
    button_to_remove_fields 'remove', f}", nil, false) %>

  <%= f.condition_fields do |c| %>
    <%= render 'condition_fields', f: c %>
  <% end %>

  <%= button_to_add_fields '+', f, :condition %>

  <%= f.grouping_fields do |g| %>
    <%= render 'grouping_fields', f: g %>
  <% end %>

  <%#= button_to_nest_fields 'Add Condition Group', :grouping %>

<% end %>
