 
/*  reset css  */
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


   .streak-container{
   		width: 90%;
   		padding-bottom: 20px;
   		background: #E6F1F5;
   		margin:0 auto;
   		padding-top: 20px;
   }
   .streak-bar-connector{
   	    position: relative;
	    top: 30px;
	    bottom: 0px;
	    left: 25px;
	    width: 70px;
   }
.streak-bar-connector:before{
		    content: "";
	    width: 1px;
	    height: 56px;
	    background: black;
	    display: block;
	    position: absolute;
	    left: 21px;
	    top: -5px;
}
.streak-bar-connector:after {
    content: "";
    width: 47px;
    height: 1px;
    display: block;
    background: black;
    position: absolute;
    left: 22px;
    top: -5px;
} 
   /* .streak-connector-horizontal{
    	right:0px;
    	height: 1px;
    	width: 50px;
    	background: black;
    	position: absolute;
    }
    .streak-connector-vertical{
    	left:20px;
    	height: 50px;
    	width: 1px;
    	background: black;
    	position: absolute;
    }  */

    .streak-filter-plus{
    	    left: 0px;
		    top: 50px;
		    position: absolute;
    }
    .streak-master-button{
    	    min-width: 0px;
		    padding-right: 10px;
		    padding-left: 10px;
		    margin-right: 0px;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    background-color: #f5f5f5;
		    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
		    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
		    color: #444;
		    border: 1px solid #dcdcdc;
		    
    }
    
    .streak-icon{
    	background: transparent url(../images/CREATE.png) no-repeat;
	    height: 20px;
	    width: 20px;
	    display: inline-block;
	    vertical-align: middle;
	    opacity: 0.55;
    }
    .streak-group-connector{
    	margin-left: 95px;
    	position: relative;
    	
	   /* position: absolute; */
	   
	    width: 640px;
    }
    .streak-group,.streak-group-o{
    	position: relative; 
	    padding: 10px;
	    background-color: #fafafa;
	    border: 1px solid #eee;
	    margin-bottom: 50px;
	    min-width: 400px;
    }
   .streak-group-outer{
       padding: 20px;
	   background-color: #fafafa;
	    width: 400px;
	     border: 1px solid #eee;
	    position: relative;
	    
	}
   .streak-group-statement{
   	    margin-left: 40px;
   		 padding-right: 20px;
   		 
   }
   .first-filter select, .second-filter select, .input-filter input[type=text],.query-dropdown input[type=text],.query-dropdown2 input[type=text],.query-parent input[type=text] {
   		 padding: 3px 9px 3px 9px;
   		 background: #f5f5f5;
   		 margin: 0px 0px 0px 25px;
   		 opacity: 0.70;
   }
   .first-filter select:hover, .second-filter select:hover, .input-filter{
   		 opacity: 1;
   }
   .streak-group-statement,.streak-group-inner,.b2, .first-filter,.second-filter,.input-filter{
   		display: inline-block;
   }
     .second-filter{
     	opacity: 0.55;
     	pointer-events: none;
     }
     .input-filter{
     	display: none;
     }
     .streak-filter-remove, .streak-filter-rmv {
     	 position: absolute;
	    right: 8px;
	    background: transparent url("../images/DELETE.png") no-repeat;
	    height: 20px;
	    width: 20px;
	    top: 10px;
	    opacity: 0.5;
     }
     .streak-icon:hover, .streak-filter-remove:hover{
     	opacity: 1;
     }
	.plus-added:before {
	       content: "";
	    width: 45px;
	    height: 1px;
	    background: black;
	    display: block;
	    position: absolute;
	    top: 22px;
	    left: 31px;
	}
	.plus-added:after {
	    content: "";
	    width: 1px;
	    height: 97px;
	    background: black;
	    display: block;
	    position: absolute;
	    left: 30px;
	    top: 22px;
	    z-index: 9;
       }
       	.plus-added2:before {
	       content: "";
	    width: 45px;
	    height: 1px;
	    background: black;
	    display: block;
	    position: absolute;
	    top: 22px;
	    left: 31px;
	}
	.plus-added2:after {
	    content: "";
	    width: 1px;
	    height: 97px;
	    background: black;
	    display: block;
	    position: absolute;
	    left: 30px;
	    top: 22px;
	    z-index: 9;
       }
       .btnpls{
       	  position: absolute;
   		  top: 114px;
       }
       .query-dropdown{
       	display: none;
	    position: absolute;
	    top: 60px;
	    z-index: 10000;
       }
        .query-dropdown2{
       	display: none;
	    position: absolute;
	    top: 60px;
	    z-index: 10000;
       }
       .streak-group-connector-outer{
       		display: none;
       	     
		    position: relative;
		    left: 95px;
		   
		    width: 640px;
		  
		}
       
          .streak-group .list-streak{
          	position: absolute;
          	display: block !important;
          }
         .streak-wrapper{
         	    padding: 15px;
			    background: #ccc;
			    width: 700px;
			    margin-left: 95px;
			    margin-bottom: 40px;
         }
        .streak-wrapper .streak-group-connector{
        	margin-left: 0px;
        }
        .streak-group-o:before{
        	    content: "";
		    height: 1px;
		    width: 50px;
		    display: block;
		    background: black;
		    position: absolute;
		    top: 24px;
		    left: -49px;
		}
	.streak-group-o:after{
		    content: "";
		    width: 1px;
		    height: 140px;
		    display: block;
		    background: black;
		    position: absolute;
		    top: -89px;
		    left: -50px;
        }
        .query-parent{
        	display:none;
        	position: absolute;
		    top: 50px;
		    left: -55px;
        }

        .line-bar{
            display: none;
        	position: absolute;
		    width: 1px;
		    height: 160px;
		    background: #000;
		    top: 0;
		    left: 21px
        }

        .query-parent:after {
		    content: "";
		    height: 1px;
		    width: 16px;
		    background: #000;
		    display: block;
		    top: -10px;
		    position: relative;
		    left: 62px;
		}
		.line-connector .streak-filter-plus{
			left:-69px;
		}
		.plusBtnouter2{
           display: none;
		}

   