<!DOCTYPE html>
<html>
<head>
  <title>RansackDemo</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(function() {
      <%= yield :document_ready %>
    });
  </script>

</head>
<body>

  <%= yield %>

  <br>
</body>
</html>
